<header>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>Telic</li>
						<!-- <ul>
							<li><a href="{% url 'home' %}">Telic-1</a></li>
							<li><a href="{% url 'home2' %}">Telic-2</a></li>
							<li><a href=""></a>Telic-3</li>
							<li><a href=""></a>Telic-4</li>
							<li><a href=""></a>Telic-5</li>
							<li><a href=""></a>Telic-6</li>
						</ul> -->
						
						<!-- <li><a href="{% url 'agentive' %}">Agentive</a></li>
						<li><a href="{% url 'constitutive' %}">Constitutive</a></li> -->
					</ul>
				</div>
			</div>
			
		</nav>
	</div>
</header>